<p><b>dig:</b>{{name}} a <b>dbe:</b>DigestTemplate ;</p>
<p>    <b>dbe:</b>ignore {{ignore}} ;</p>
<p>    <b>dcterms:</b>identifier "{{name}}" ;</p>
<p>    <b>dcterms:</b>description """{{description}}"""@en ;</p>
<p>    <b>dbe:</b>queryString """{{queryString}}""" ;</p>
<p>    <b>dbe:</b>contextQueryString """{{contextQueryString}}""" ;</p>
<p>    <b>dbe:</b>descriptionTemplate """{{descriptionTemplate}}""" ;</p>
<p>    <b>dbe:</b>rankWeight "{{rankWeight}}"^^<b>xsd:</b>float ;</p>
<p>    .</p>
