<div class="row topPanel">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="control-label" for="template">Digest Template</label>
            </div>
            <div class="panel-body">
                <div id="template" digest-template></div>
            </div>
        </div>
        <div class="form-group">
            <button ng-click='saveTemplate()' type="submit" class="btn btn-default">Save template</button>
            <button ng-click='test()' type="submit" class="btn btn-default">Test template</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <input ng-change="change()" ng-model="name" placeholder='Name' class="form-control" id="name"/>
                    </div>
                    <div class="form-group">
                        <input ng-change="change()" ng-model="description" placeholder='description'
                               class="form-control" id="description"/>
                    </div>
                    <div class="form-group">
                        <div ng-repeat="(i, ontology) in ontologies track by $index">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder=""
                                       ng-esc="removeOntology(ontologies[i])" ng-model="ontologies[i]"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger"
                                            ng-click="removeOntology(ontologies[i])">
                                        <span class="mdi mdi-minus"/>
                                    </button>
                                </span>
                            </div>
                            <br>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ontology" ng-enter="addOntology()"
                                   ng-model="newOntology">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success pull-right" ng-click="deleteTemplate()">
                                    <span class="mdi mdi-plus"/>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-repeat="(i, filter) in filters track by $index">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="" ng-esc="removeFilter(filters[i])"
                                       ng-model="filters[i]"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger" ng-click="removeFilter(filters[i])">
                                        <span class="mdi mdi-minus"/>
                                    </button>
                                </span>
                            </div>
                            <br>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Filter" ng-enter="addFilter()"
                                   ng-model="newFilter">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" ng-click="addFilter()">
                                    <span class="mdi mdi-plus"/>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input ng-change="change()" ng-model="descriptionTemplate" placeholder='descriptionTemplate'
                               class="form-control" id="descriptionTemplate"/>
                    </div>
                    <div class="form-group">
                        <input ng-change="change()" ng-model="rankWeight" placeholder='rankWeight' class="form-control"
                               id="rankWeight"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="control-label" for="template">Saved Digest Templates</label>
            </div>
            <div class="panel-body">
                <div class="list-group-item list-group-item-warning" ng-show="noTemplates()">No saved digest templates
                </div>
                <div class="list-group" ng-repeat="template in templates">
                    <a class="list-group-item clearfix">
                        <b>{{template.name}}</b>
                        <span class="pull-right button-group">
                            <button class="btn btn-primary" ng-click="loadTemplateIntoEditor(template.query)">
                                <span class="mdi mdi-pencil"/>Edit
                            </button>
                            <button class="btn btn-danger" ng-click="deleteTemplate(template.query.name)">
                                <span class="mdi mdi-delete"/>Delete
                            </button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
