<div class="row topPanel">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="control-label" for="template">Digest Template:</label>
            </div>
            <div class="panel-body">
                <div id="template" digest-template></div>
            </div>
        </div>
        <div class="form-group">
                <button ng-click='submit()' type="submit" class="btn btn-default">Submit</button>
                <button ng-click='try()' type="submit" class="btn btn-default">Try</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row spacer">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <input ng-change="change()" ng-model="name" placeholder='Name' class="form-control" id="name" />
                    </div>
                    <div class="form-group">
                        <input ng-change="change()" ng-model="description" placeholder='description' class="form-control" id="description" />
                    </div>
                    <div class="form-group">
                        <div ng-repeat="(i, ontology) in ontologies track by $index">
                            <div class="input-group">
                                 <input type="text" class="form-control" placeholder="" ng-model="ontologies[i]"/>
                                 <span class="input-group-btn">
                                     <button type="button" class="btn btn-danger" ng-click="removeOntology(ontologies[i])">
                                         <span class="glyphicon glyphicon-minus"/>
                                     </button>
                                 </span>
                            </div>
                            <br>
                        </div>
                        <div class="input-group">
                             <input type="text" class="form-control" ng-enter="addOntology()" placeholder="Ontology" ng-model="newOntology">
                             <span class="input-group-btn">
                                 <button type="button" class="btn btn-success" ng-click="addOntology()">
                                     <span class="glyphicon glyphicon-plus"/>
                                 </button>
                             </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-repeat="(i, filter) in filters track by $index">
                            <div class="input-group">
                                 <input type="text" class="form-control" placeholder="" ng-model="filters[i]"/>
                                 <span class="input-group-btn">
                                     <button type="button" class="btn btn-danger" ng-click="removeFilter(filters[i])">
                                         <span class="glyphicon glyphicon-minus"/>
                                     </button>
                                 </span>
                            </div>
                            <br>
                        </div>
                        <div class="input-group">
                             <input type="text" class="form-control" placeholder="Filter" ng-model="newFilter">
                             <span class="input-group-btn">
                                 <button type="button" class="btn btn-success" ng-click="addFilter()">
                                     <span class="glyphicon glyphicon-plus"/>
                                 </button>
                             </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input ng-change="change()" ng-model="descriptionTemplate" placeholder='descriptionTemplate' class="form-control" id="descriptionTemplate" />
                    </div>
                    <div class="form-group">
                        <input ng-change="change()" ng-model="rankWeight" placeholder='rankWeight' class="form-control" id="rankWeight" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
