<div class="event-list" ng-class="{ large: large }">
    <div class="line" ng-hide="!events.length"></div>

    <div class="event-wrapper"
         ng-repeat="event in events | orderBy:showDate ? '-endTime' : 'image'| filter:filterEvents">
        <div class="event clearfix" ng-class="event.image ? '' : 'noimage'" ng-style="{ opacity: event.state == 'disconfirmed' ? 0.5 : 1.0 }">

            <span class="event-icon" ng-class="'icon-' + categoryForTmpl(event.tmpl).icon"></span>

            <div class="time" ng-show="showDate" ng-bind="event.endTime | date"></div>

            <h2 dbp-late-compile="insertDataLinks(event.desc, event.tmpl)"></h2>

            <div class="image" ng-style="{ 'background-image': 'url(' + event.image + ')' }"></div>

            <div style="margin-top: 12px">
                <span class="text-muted pull-right" ng-bind="event.confirm.confirm + ' Confirms vs ' + event.confirm.disconfirm + ' Disconfirms'"></span>

                <button ng-click="confirmEvent(event, true)" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-ok"></span> Confirm
                </button>

                <button ng-click="confirmEvent(event, false)" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Wrong
                </button>

                <button ng-click="testVerifyArticle(event)" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-search"></span> Verify
                </button>
            </div>

        </div>

        <div class="event-news" ng-show="event.news">
            <div ng-class="{
                'text-success': event.state == 'confirmed',
                'text-danger': event.state == 'disconfirmed',
                'text-warning': event.state == 'unknown' }"
                style="margin: 12px"
                ng-bind="event.stateDescription"></div>

            <div ng-show="event.trends.counts.length">
                <h3>Search Trends</h3>
                <canvas class="chart chart-line"
                    chart-data="[event.trends.counts || []]"
                    chart-series="['Counts']"
                    chart-colors="['#45b7cd', '#ff6384', '#ff8e72']"
                    chart-labels="event.trends.labels"></canvas>
            </div>

            <div ng-show="!event.trends.counts.length">Not enough data to display trends</div>

            <div ng-show="!event.news.length">No articles related to this event found</div>
            <div class="event-news-item" ng-repeat="news in event.news">
                <a ng-attr-href="{{ news.url }}">
                    <div class="pull-right">
                        <small ng-bind="news.pubDate | date"></small>
                        <img width="16" ng-attr-src="/archive-verify-icons/{{ news.source }}.png">
                    </div>
                    <h4 ng-bind="news.title"></h4>
                    <p ng-bind="news.excerpt"></p>
                </a>
                <hr>
            </div>
        </div>
    </div>
</div>
